.Groups{
    height: 100vh;
    width: 20%;
    padding:0px 10px 0px 5px;
}
.groupsname {
    padding: 40px 10px 0px 0px;
    height: 70%;
    border-bottom: 1px solid rgb(179, 178, 178);
}
.groupsname h5 {
    height: 13%;
}
.group-item{
    height: 13%;
    padding:10px 10px;
    border-radius: 15px;

}
.group-item:hover{
    background-color: #94a0de5a;
}
.group-item .areaProfile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.group-item span {
    margin-left: 10px;
}

.footer{
    width:80%;
    margin:30px auto;
    
}
.footer a{
    font-size: 15px;
    display: inline-block;
    line-height: 9px;
    text-decoration: none;
    color: #6c7ac3;

}

.footer a:hover{
    color: #1230c6;
}