*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    height: 75px;
    border-bottom: 1px solid rgb(188, 183, 183);
    padding-top: 0;
    box-shadow: 1px 1px 5px 10px #e1d4f658;
    background-color: white;
}
a.logo img{
    height: 55px;
    width: 250px;
}
.icons {
    width: 40%;
    height: 60px;
}
.icons a {
    padding-top: 10px;
    margin-top: -10px;
    font-size: 23px;
    color: #744db2;
    display: inline-block;
    width: 20%;
    height: 100%;
    text-align: center;
    border-radius: 20px;
}
.icons a:hover{
    background-color: #e1d4f66a ;
    transition: 0.5s;
}

input{
    border-radius: 25px;
    height: 35px;
    margin-top: 3px;
    width: 300px;
    border: 0;
    background-color: #e1d4f66a;
    padding-left: 10px;

}

.searchButton{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 0px;
    border: none;
    background-color: white;
    font-size: 19px;
}
.searchButton:hover{
    background-color: #b899e985;
    transition: 1s;


}

p.profileName {
    background-color: #b0bcef85;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    color: #744db2;
    font-weight: 600;
    cursor: pointer;
}

.signButton {
    width: 90px;
    border: 0;
    border-radius: 10px;
    background-color: #261cf0;
    color: white;
    font-weight: 600;
    font-size: 17px;
    margin-left: 10px;
}
.profilInfo {
    background-color: white;
    position: absolute;
    right: 0;
    top: 75px;
    width: 25%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 2px rgb(179, 177, 177);
}
.profilInfo .profilInfoName {
    background-color: rgb(49, 49, 158);
    font-size: 23px;
    padding-left: 20px;
    color: white;
    height: 80px;
    line-height: 80px;
    
}
.profilInfoOptions{
    padding-left: 15px;
    margin-top: 30px;
}
.profilInfoItem button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #b899e985;
    border: 0;
    font-size: 20px;

}
.profilInfoItem {
    font-size: 17px;
    height: 50px;
    padding: 8px 5px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;

}
.profilInfoItem:hover {
    background-color: #94a0de5a;

}
